COMPOSE_PROJECT_NAME=autopulse-keycloak

KEYCLOAK_PORT=8008

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin

KEYCLOAK_DB_HOST=autopulse-postgres
KEYCLOAK_DB_PORT=5432
KEYCLOAK_DB_NAME=autopulse
KEYCLOAK_DB_SCHEMA=keycloak
KEYCLOAK_DB_USERNAME=keycloak_admin
KEYCLOAK_DB_PASSWORD=keycloak_password

KEYCLOAK_REALM=autopulse

KEYCLOAK_USER_SERVICE_CLIENT_ID=user-service-client
KEYCLOAK_USER_SERVICE_CLIENT_SECRET=your-secret

KEYCLOAK_ROLE_ADMIN=ADMIN
KEYCLOAK_ROLE_DISPATCHER=DISPATCHER
KEYCLOAK_ROLE_COURIER=COURIER